:root {
  --branco: #f0f2f2;
  --azul-agua: #165953;
  --azul-base: #0a2473;
  --azul-escuro: #011640;
  --preto: #121828;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 2px 2px 2px #12182880;
}

body,
p {
  font-family: "Open Sans", sans-serif;
  text-shadow: 2px 2px 2px #12182880;
}

/* HERO */

header {
  background-image: url("fotos/canoa-azul2.JPEG");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  background-color: #12182822;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(2px);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: var(--branco);
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
}

nav ul a:hover {
  transform: translateY(5px);
}

nav ul a:hover::before {
  width: 100%;
}

nav ul a::before {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  background-color: white;
  transition: all 0.3s ease;
  display: inline-block;
}

.container-home {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.container-home h1 {
  font-size: 62px;
  color: var(--branco);
  line-height: 1rem;
}

.container-home h2 {
  color: var(--branco);
  letter-spacing: 0.3rem;
  line-height: 4rem;
}

.botao {
text-decoration: none;
color: var(--azul-agua);
  background-color: var(--branco);
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-weight: 600;
  text-shadow: none !important;
  display: inline-block;
  transition: all 0.3s ease;
}

.botao:hover {
  transform: scale(105%);
  color: white;
  background-color: var(--azul-base);
}

/* SOBRE */

#sobre {
  min-height: calc(100vh - 64px);
  background-color: var(--azul-agua);
  padding: 8rem;
}

.neumorph {
  border: 1px solid transparent;
  background: #165953;
  box-shadow: 5px 5px 10px #134c47, -5px -5px 10px #19665f;
}

.neumorph2 {
background: #165953;
box-shadow: inset 5px 5px 10px #134c47,
            inset -5px -5px 10px #19665f;
}

.container-sobre {
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coluna-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.coluna-esquerda img {
  width: 250px;
  border-radius: 50%;

}

.coluna-esquerda div {
    text-align: center;
}

.coluna-esquerda h2 {
  color: var(--branco);
  font-size: 40px;
}

.coluna-esquerda h3 {
  color: var(--branco);
  font-family: "Open Sans", sans-serif;
}

.coluna-direita {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 4rem;
}

.coluna-direita h2 {
  color: var(--branco);
  border-bottom: 2px solid;
  width: 100%;
  padding-left: 2rem;
  letter-spacing: 0.2rem;
}

.coluna-direita p {
  margin-top: 2rem;
  color: var(--branco);
  text-indent: 2rem;
  text-align: justify;
  padding: 1rem;
  border-radius: 12px;
}

/* PASSEIOS */

#passeios {
  min-height: calc(100vh - 64px);
  background-color: var(--azul-agua);
  display: flex;
  place-content: center;
  padding: 8rem 12rem;
}

.passeios-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 6rem;
}

.passeios-container h2 {
  color: var(--branco);
  text-align: center;
}

.passeio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 4rem;
  border-radius: 12px;
}


.nascer-do-sol img, .noturno img {
  width: 230px;
  height:230px;
  object-fit: cover;
  border-radius: 12px;
}

.noturno img {
  object-position: center;
}

.passeio h2 {
  color: var(--branco);
  border-bottom: solid 2px;
}

.passeio p {
  margin-top: 1rem;
  color: var(--branco)
}

.passeio a{
  margin-top: 2rem;
}

/* fotos */

#fotos {
  min-height: calc(100vh - 64px - 2rem);
  background-color: var(--azul-agua);
  padding: 0 8rem;
  padding-top: 8rem;
}

#fotos h2 {
  color: var(--branco);
  text-align: center;
}

.container-fotos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Alinha as imagens à esquerda */
  width: 100%;
  align-items: center;
  height: 500px;
  overflow-x: auto; /* Ativa o scroll horizontal */
  overflow-y: hidden; /* Desativa o scroll vertical */
  gap: 1rem; /* Espaço entre as imagens */
  padding: 0 8rem;
  scroll-snap-type: x mandatory; /* Garante que o scroll vai ser suave, com imagens "presas" */
  border-radius: 12px;
}

.container-fotos img {
  flex: 0 0 auto; /* Largura natural das imagens */
  object-fit: cover;
  height: 75%;
  width: 150px; /* Largura mínima das imagens */
  transition: all 0.5s ease-in-out; /* Transição suave */
  cursor: pointer;
  border-radius: 12px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para profundidade */
  scroll-snap-align: start; /* Garante que as imagens se alinhem ao começar o scroll */
}

.container-fotos img:hover {
  transform: scale(1.2); /* Aumenta suavemente a imagem ao passar o mouse */
  width: 200px; /* Largura maior ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
  z-index: 3;
}

.container-fotos::-webkit-scrollbar {
  height: 8px; /* Define a altura da barra de rolagem */
}

.container-fotos::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Cor do thumb da barra de rolagem */
  border-radius: 10px;
}

.container-fotos::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Cor do thumb ao passar o mouse */
}

/* contato */

#contatos {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--azul-agua);
  gap: 4rem;
}

#contatos h2 {
  color: var(--branco);
  font-size: 36px;
}

.icones {
  display: flex;
  gap: 4rem;

}

i {
  font-size: 100px;
  color: var(--branco);
  transition: all 0.3s ease;
}

i:hover {
  transform: scale(105%);
  color: var(--azul-escuro);
}

